/* You can add global styles to this file, and also import other style files */

@import "styles/variable";

* {
  font-family: Arial, sans-serif, "Segoe Script";
}

.game {
  &__container {
    padding: 0 1rem 1rem;
  }
}
.shadow {
  box-shadow: 8px 3px 14px 3px rgba(0, 0, 0, 0.09),
    0 8px 10px 1px rgba(0, 0, 0, 0.09);
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
  margin: 0;
}

button {
  color: $dark-gray;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid $gray;
  &:hover {
    background-color: $gray;
    transition: 0.4s ease;
  }
}

h2 {
  background-image: linear-gradient(200deg, $light-blue 5%, $green);
  border-bottom: 1px solid;
  color: white;
}

h3 {
  margin: 10px 0 !important;
}

.js-center {
  justify-content: center;
}

.mgr {
  margin-right: 0.7rem;
}
